.grey{
  color: #918E9B;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  max-width:792px;
  margin: 0 auto;
}
.card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;        
  display: flex;         
  flex-direction: column;
}
.card .card--image{
  position: relative;
}
.card .card--badge{
  position:absolute;
  top:6px;
  left:6px;
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
}
.card .card--image img{
  width:100%;
  border-radius: 9px;
  max-height:233px;
}
.card .card--text{
  padding-top:5px;
  display: flex;
  align-items: center;
}
.card .card--number{
  margin-right:5px;
}
.card .card--text .card--star{
  margin-right:5px;
}
.card .card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card--title p{
  margin:2px 0;
}
.card .card--price p{
  margin:2px 0;
}